@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Orbitron', sans-serif;
}

header {
  position: fixed;
  width: 100%;
  transition: 0.5s;
}

#header.sticky {
  background: linear-gradient(to left, #2b2b2b, #5a5a5a);
  background-size: cover;
  background-repeat: no-repeat;
  background: #000;
}

.header-fixed {
  display: flex;
  background: transparent;
  z-index: 100000;
  height: 80px;
}

.logo-l {
  box-sizing: border-box;
  margin-left: 40px;
  transition: 0.5s;
  display: block;
}

.logo-l a {
  display: inline-block;
  height: 76px;
  width: 200px;
  text-decoration: none;
}

.img {
  display: inline-block;
  background-image: url('tech_knights.png');
  width: 200px;
  height: 80px;
  text-indent: -9999em;
  background-position: -208px -58px;
}

.header-fixed div:last-child {
  margin-left: auto;
}

.navbar {
  display: flex;
  align-items: center;
  transition: 0.5s;
}

.navbar ol li {
  display: inline-block;
  list-style: none;
  transition: 0.5s;
}

.links li:first-child::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 50%;
  border-bottom: 2px solid #e8e8e8;
}

ol li a:hover {
  color: #fff;
  font-size: 1.5em;
}

li a {
  text-decoration: none;
  color: #e8e8e8;
  border-radius: 1000px;
  text-transform: uppercase;
  font-size: 1.1em;
  letter-spacing: 2px;
  transition: 0.1s ease-in-out;
  margin: 15px;
}

#home {
  padding: 80px 0 0px 0;
  margin: 0;
  min-height: 100vh;
  background: url('creative1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.col-md-6 {
  width: 50%;
}

#section-lay {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 120px 40px;
  width: 100%;
  height: 100%;
  color: #fff;
  overflow: hidden;
}

#sec-content {
  max-width: 800px;
}

#straight-line {
  position: relative;
  right: 2vh;
  height: 100%;
  cursor: default;
}

#straight-line::before {
  position: absolute;
  content: '';
  width: 4px;
  height: 100%;
  background-color: #fff;
}

#section-lay h3 {
  font-size: 3em;
  font-weight: bold;
  padding-bottom: 10px;
}

#sec-content span {
  font-size: 1.2em;
}

.doc-link a {
  display: inline-block;
  width: 30%;
  color: #000;
  text-decoration: none;
  padding: 15px;
  background-color: #fff;
  opacity: 0.8;
  border: none;
  border-radius: 2%;
  margin: 42px auto 0px;
}

.doc-link a:hover {
  background-color: #fff;
  opacity: 1;
}

#goto {
  color: #bebebe;
  display: flex;
  justify-content: flex-start;
  margin: 70px 0 0 0px;
  font-size: 1.5em;
  align-items: center;
}

#goto a {
  position: relative;
  display: inline-block;
  padding: 10px 10px;
  left: 10px;
  color: #fff;
  /* float: right; */
  text-decoration: none;
  transition: 0.5s;
  overflow: hidden;
  top: 0px;
}

#goto a span {
  position: absolute;
  display: block;
}

#goto a:hover {
  background-color: #fff;
  color: #000;
  box-shadow: 0 0 10px #feb7c5;
}

#goto a span:nth-child(1) {
  top: 0%;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #fff);
  animation: animate1 1s linear infinite;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }

  50%, 100% {
    left: 100%;
  }
}

#goto a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #fff);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s
}

@keyframes animate2 {
  0% {
    top: -100%;
  }

  50%, 100% {
    top: 100%;
  }
}

a span:nth-child(3) {
  bottom: 0%;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #fff);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes animate3 {
  0% {
    right: -100%;
  }

  50%, 100% {
    right: 100%;
  }
}

#goto a span:nth-child(4) {
  bottom: -100%;
  left: 0%;
  height: 100%;
  width: 2px;
  background: linear-gradient(360deg, transparent, #fff);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }

  50%, 100% {
    bottom: 100%;
  }
}

/*----------------------------------------------------------------------------------*/

#tutorial
{
  padding: 80px 0 0px 0;
  margin: 0;
  min-height: 100vh;
  background: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  position: relative;
}

#tutorial-lay {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 120px 40px;
  width: 100%;
  height: 100%;
  color: #fff;
  overflow: hidden;
}
/*----------------------------------------------------------------------------------*/

#contact-us {
  padding: 80px 0 20px 0;
  margin: 0;
  min-height: 100vh;
  background: #000;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

#contact-lay {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 20px 75px;
  width: 100%;
  height: 100%;
  color: #fff;
  overflow: hidden;
}

.cont-head {
  display: flex;
  flex-direction: column;
  font-size: 70px;
  font-weight: 900;
  width: 100%;
}

#line {
  position: relative;
  width: 35%;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#line::before {
  position: absolute;
  content: '';
  width: 50%;
  height: 3px;
  background-color: #48562f;
}

#cont-head-top {
  color: #fff;
}

#cont-head-bott {
  display: flex;
  flex-direction: row;
  color: #48562f;
}

.cont-body {
  display: flex;
  width: 100%;
  padding-top: 30px;
}

#body-left {
  width: 100%;
  max-height: 330px;
  overflow: hidden;
}

#body-left-catg {
  display: flex;
  width: 100%;
  margin-top: 20px;
}

form
{
  width: 100%;
}

.opt
{
  display: inline-block;
  width: 100%;
}

.opt input
{
  margin: 0 10px 0 0;
}

input[type="button"], input[type="text"], input[type="email"] {
  /* color: #262d29; */
  color: #fff;
  background-color: transparent;
  outline: none;
  border: none;
}

input[type="button"] {
  border: 2px solid #262d29;
  padding: 10px 54px;
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  cursor: pointer;
  font-size: 1rem;
}

input[type="button"]:hover {
  color: #000;
  background-color: #ff9086;
  border: 2px solid #ff9086;
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  transition: 0.6s;
  cursor: alias;
}

#align-form
{
  display: flex;
  flex-direction: row;
}

.form
{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form div
{
  width: 100%;
  display: inline-block;
  position: relative;
  margin-top: 10px;
  box-sizing:border-box;
}

.inp-field
{
  position: relative;
  width: 100%;
  margin: 10px 10px 10px 0;
}

.inp-field input
{
  width: 100%;
  padding: 10px 0;
  box-sizing: border-box;
  box-shadow: none;
  position: relative;
  color : #fff;
  border-bottom: 1px solid #262d29;
  width: 100%;
  height: 100%;
  padding-top: 15px;
  box-shadow:none;
}

.inp-field label
{
  position: absolute;
  bottom: 0%;
  left: 0%;
  top: 10px;
  width: 100%;
  height: 100%;
  padding: 5px 0;
  pointer-events: none;
  transition: 0.6s;
}

.form input:focus
{
  border-bottom: 1px solid #fff;
}

.form input:focus +label,
.form input:valid +label
{
  top: -12px;
  left: 0;
  color: green;
}

.inp-btn input[type="button"]
{
  padding: 30px 0px 0 0;
  font-size: 1.5rem;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

.inp-btn input[type="button"]:hover
{
  color: #ff9086;
  border-bottom: 1px solid #ff9086;
  background-color: transparent;
  transition: 0.3s;
}


#body-right {
  width: 40%;
  padding: 0px 20px;
  max-height: 330px;
  overflow: hidden;
}

#body-right-up
{
  font-size: 1.2rem;
  line-height: 25px;
  margin-bottom: 19px;
}

#body-right-down ul li {
  list-style: none;
}

#body-right-down ul li a {
  display: flex;
  text-decoration: none;
  color: #fff;
}

.social {
  display: flex;
  font-size: 1.6rem;
}
